html{
    font-size:16px;
}
body{
    background: #000 repeat-y center;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: cover;
    align-self: auto;
}
h1{
    font-family: 'Cabin', sans-serif;
    font-size: 5rem;
    text-align: center;
    /*color: red;*/
    /*text-shadow: 0.2rem 0rem rgb(155, 10, 119);*/
}
#container{
    border: 1rem solid white; 
    width:50%;
    margin-left: auto;
    margin-right:auto;
    background: rgba(255, 255, 255, 0.8);
    padding-left:  2rem;
    padding-right:  2rem;
    max-width: 80%;
    min-width: 50%
}
div{
    padding-bottom: 2rem;;
}
.date{
    font-family: 'Pacifico', cursive;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    color: red;
    padding-top: 0.3rem;
}
.quote{
    border-left: gray solid 0.2rem;
    padding-left: 1.5rem;
    font-family: 'Permanent Marker', cursive;
}
#footer{
    text-align: center;
    color:white;
    text-shadow: 0.2rem 0.3rem rgb(155, 10, 119);
    padding-top:2rem;
}